body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    max-width: 1920px;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1920px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.caption {
    font-size: 24px;
    margin-top: 10px;
}

.slide {
    flex: 0 0 100%;
    text-align: center;
    border: #000;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.slide img {
    width: 650px;
    height: 550px;
}

.slider input[type="radio"] {
    display: none;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 0 40px 0;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #000 3px;
    cursor: pointer;
    transition: background-color 0.15s ease;
    margin: 5px;
    background-color: #000;
}

#slide1:checked ~ .dots label[for="slide1"],
.dots label[for="slide1"]:hover {
    background-color: transparent;
}

#slide2:checked ~ .dots label[for="slide2"],
.dots label[for="slide2"]:hover {
    background-color: transparent;
}

#slide3:checked ~ .dots label[for="slide3"],
.dots label[for="slide3"]:hover {
    background-color: transparent;
}

#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

.captions .caption {
    display: none;
}

#slide1:checked ~ .info #caption1,
#slide2:checked ~ .info #caption2,
#slide3:checked ~ .info #caption3 {
    display: block;
}

@media (max-width: 568px) and (min-width: 320px) {
    .slides img {
        width: 400px;
        height: 320px;
    }
    
    .info {
        flex-direction: column;
    }
}